<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Lampros Lountzis">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <title>Extending Search Engines with Synonyms</title>
</head>
<body>
    <div class="container">
        <nav class="navbar">
            <div class="creator">
                <h4>Lampros Lountzis</h4>
            </div>
            <div class="project-name">
                <h4>Extending Search Engines with Synonyms</h4>
            </div>
        </nav>
        <section id="search">
            <form method="post">
                <input class="search-box" type="text" name="query" placeholder="Search...">
                <button class="search-btn" type="submit" > Search </button>
            </form>
        </section>
        <section id="results">
            <div class="result" th:each="result : ${results}">
                <div class="id">
                    <p><b>ID:</b> <span th:text="${result.id}"></span></p>
                </div>
                <div class="title">
                    <p><b>Title:</b> <span th:text="${result.title}"></span></p>
                </div>
                <div class="abstract">
                    <p th:text="${result.abstract}"></p>
                </div>
                <div class="score">
                    <p><b>Score:</b> <span th:text="${result.score}"></span></p>
                </div>
            </div>
        </section>
    </div>
</body>
</html>