<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Lampros Lountzis">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
    <title>Search Engine Extended with Synonyms</title>
</head>
<body>
    <div class="container">
        <nav class="navbar">
            <div class="creator">
                <h4>Lampros Lountzis</h4>
            </div>
            <div class="project-name">
                <h4>Search Engine Extended with Synonyms</h4>
            </div>
        </nav>
        <section id="search">
            <form method="post">
                <input class="search-box" type="text" name="query" placeholder="Search...">
                <button class="search-btn" type="submit" > Search </button>
            </form>
        </section>
        <section id="results">
            <h1>Results</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Eaque quod ea dolore repudiandae! 
                Iste quod doloremque voluptatibus, fugit sunt sapiente corporis officiis tempore dignissimos veritatis, nesciunt magnam? 
                Quae, corporis praesentium.
            </p>
        </section>
    </div>
</body>
</html>